.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    option {
        appearance: none !important;
  
        position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
    }
}