@import "../index.scss";
 
.cardWrapper {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.ImageCard {
    background-image: url("../../assets/PNG/Contour.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    z-index: 0;
    width: 100%;
    height: 200px;
}
