@tailwind base;
@tailwind components;
@tailwind utilities;


@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@import 'bootstrap/dist/css/bootstrap.min.css';

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

@layer components {

  /* Home Styling */
  .ContentTitle {
    @apply text-lg font-black lg:text-2xl 2xl:text-3xl text-soft-black
  }

  /* Product Styling */
  .FilterStyle {
    @apply flex flex-col gap-3 border-b border-gray-border px-6 py-5 text-soft-gray
  }

}